<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
	  Name="SQL Express 2022 ARM64" 
	  Manufacturer="Lukas Volf"
	  Version="1.0.0.0" 
	  UpgradeCode="9c470db2-ae3b-4502-bffa-80f697118b46"
	  DisableModify="yes">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication 
			LicenseUrl="https://github.com/jimm98y/MSSQLEXPRESS-M1-Install/blob/main/LICENSE" 
			Theme="hyperlinkLicense" 
			LogoFile="logo.jpg" 
			ShowVersion="no"
			SuppressOptionsUI="yes"
			ThemeFile="SqlHyperlinkTheme.xml"
			LocalizationFile="SqlHyperlinkTheme.wxl"
			/>
    </BootstrapperApplication>

	<Variable Name="InstanceName" Persisted="yes" Type="string" Value="SQLEXPRESS" bal:Overridable="yes" />

    <Chain DisableSystemRestore="yes">
		<!-- First attempt to install - it'll fail because of AzureAttestService failing to start. -->
		<PackageGroupRef Id="SQLServerExpress2022FirstRun" />
		
		<!-- Second attempt to install would fail because of the FILESTREAM feature installing the RsFx0700 driver. -->
		<!-- Fortunately, the file has already been installed during the first attempt. -->
		<!-- We register the driver here, which means the installation will skip the failing step and continue until the very end. -->
		<ExePackage DetectCondition="false" PerMachine="yes" Permanent="yes" SourceFile="fix.bat">
			<Payload SourceFile="RsFx0700.reg" />
		</ExePackage>
		
		<!-- Second attempt to install - it should be successful now. -->
	    <PackageGroupRef Id="SQLServerExpress2022SecondRun" />
    </Chain>
  </Bundle>
</Wix>
