<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Fragment>
		<PackageGroup Id="SQLServerExpress2022SecondRun">
			<ExePackage DisplayName="Installing SQL Server Express 2022"
						CacheId="SQLServerExpress2022SecondRun"
						PerMachine="yes"
						Vital="yes"
						Permanent="yes"
						InstallArguments='/qs /ACTION="Install" /FEATURES=[SqlFeatures] /INSTANCENAME="[InstanceName]" /IACCEPTSQLSERVERLICENSETERMS=true /UPDATEENABLED=false /USEMICROSOFTUPDATE=false [SqlArguments]'
						InstallCondition="NOT (SqlInstanceKeyFound)"
						DetectCondition="SqlInstanceKeyFound">
				<ExePackagePayload
					    Id="SQLServerExpress2022SecondRun"
						Name="SQLEXPR_x64_ENU_Second.exe"
						DownloadUrl="https://download.microsoft.com/download/3/8/d/38de7036-2433-4207-8eae-06e247e17b25/SQLEXPR_x64_ENU.exe"
						Compressed="no"
						Description="Microsoft SQL Server 2022"
						Hash="8B47CB0D1887F7D404B62AF86344853FEA1D91B6FE66F17389BF5830AB06980ED2039A6D415782D9C792D30DFD0A83FE2F4AE259487E167ABD25AE9AAACC9FF2"
						ProductName="Microsoft SQL Server 2022"
						Size="279293816"
						Version="16.0.1000.6"  />
			</ExePackage>
		</PackageGroup>
	</Fragment>
</Wix>